*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    padding-bottom: 20px;
}

.container{
  background: url('./photo-1503951458645-643d53bfd90f.jpeg') no-repeat center center/cover;
  height: 100vh;
  background-attachment: fixed;
  padding: 0 15%;
  color: white;
}

nav{
    display: flex;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #a29f9f;
    justify-content: space-between;
    padding: 3vw 0;
    font-size: 0.8rem;
  
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.logo{
    color: #fff;
    position: relative;
    z-index:2;
}

.nav-right ul{
    display:flex;
    list-style-type: none;
}

.nav-right ul li a {
    text-align: center;
    padding:0 20px;
}
.nav-right ul li a :last-child{
    padding:0;
}
.nav-right i{
    display: none;
    color:#fff;
    margin-top: 10px;
}
/* Welcome -wrapper */

.welcome-wrapper{
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    padding:10vw 0;
}

.welcome-wrapper h1 {
    font-size: 2.5rem;
    line-height: 1.2em;
}

.welcome-icons{
    display: flex;
    justify-content: center;
    text-align: center;
}
.welcome-icons div{
    margin: 2.5vw 0;
    padding: 1vw 3vw;
}
.welcome-icons > div:first-child{
    border-right : 1px solid #a29f9f;

}
.welcome-icons i{
    color:#6CC092;
}

.btn {
    display: inline-block;
    font-size: 12px;
    color: #6CC092;
    background: transparent;
    padding: 6px 30px;
    border: 2.4px solid #6CC092;
    cursor: pointer;
    border-radius: 55px;
    margin: 30px;
}

.btn:hover {
    background-color: #6CC092;
    color: #fff;
}


/* content  */
.content{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 82px 20px;
    overflow: hidden;
}
.content div{
    padding: 0px  3vw;
}
.content img{
    width:20vw;
    border-radius: 50%;
}


.content h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin: 15px 0px;
    color: #535252;
}




.sidebar {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #6CC092;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width:0;
  }

  .sidebar li {
    list-style-type: none;
    margin-left: 1vw;
    padding: 2vw;
    border-bottom: 1px solid;
    color: #fff;
  }
  .sidebar li:last-child {
    border-bottom: none;
  }

  
  .sidebar a {
    text-decoration: none;
    font-size: 19px;
    color: #fff;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 3vw;
  }

@media only screen and (max-width:786px){
    
    .content{
        flex-direction: column;
    }
    .welcome-icons{
        flex-direction: column;
       
    }
    .welcome-icons > div:first-child{
        border:none;
    
    }
   
    .btn{
        padding: 0px 28px;
    }
    h1{
        padding: none;
    }

    .nav-right li {
        display: none;
    }
    .nav-right i {
        display: block;
    }

    /* .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        padding: 0px 15px;
        border: none;
        float:right;
        outline: none;
        position: relative;
        z-index: 3;
        display: inline;
    } */
}
    
@media only screen and (max-width:415px){
    .btn{
        padding: 0px 9px;
        margin: 10px 0px;
    }
}


@media only screen and (max-width:375px){
    .btn{
        padding: 0px 9px;
        margin: 10px 0px;
    }
    h1{
        padding: none;
    }

}

  

