body{
    background-color: rgb(79, 79, 250);
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin:20px;
}

#lblGreetings{
    font-size: 70px;

}

hr{
    width: 11%;
    height: 10px;
    color: #fff;
    background-color: #fff;
}

#time{
    font-size: 120px;
    font-weight: 700;
}

.date{
    font-size: 60px;
}